* {
	margin: 0;
	padding: 0;
	cursor: url('cursor.cur'), auto;
	font-family: 'Pirata One', cursive;
	text-shadow: 3px 3px 5px black;
	outline:0;
}

body {
	background-color: #010101;
}

h1 {
	background-image: url(UI11.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.containers {
	visibility: hidden;
}

#craftingPannel {
	height: 682px;
	width: 1344px;
	background-image: url(UI14.png);
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
}

#craftItems {
	position: absolute;
	top: 0px;
	left: 0px;
}

#craftItem1 {
	width: 51px;
	height: 51px;
}

#craftItem2 {
	width: 51px;
	height: 51px;
}

#craftItem3 {
	width: 51px;
	height: 51px;
}

[name=inventorySlots] {
	width:51px;
	height:51px;
	display: inline-block;
	background-color: transparent;
	margin-bottom: 12.8px;
	margin-right: 16.4px;
	background-size: contain;
}

#inventoryPannel {
	width: 476px;
	position: absolute;
	top: 200px;
	left: 700px;
	visibility: hidden;
}

.craft {
	width: 127.4px;
	height: 45px;
	background-image: url(UI7a.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: none;
}

.craft:active {
	background-image: url(UI7b.png);
}

#recipe1 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe1.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

#recipe2 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe2.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

#recipe3 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe3.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

#recipe4 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe4.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

#recipe5 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe5.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

/*#recipe6 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe6.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

#recipe7 {
	width: 250px;
	height: 55px;
	margin-left: 25px;
	background-image: url(recipe7.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}*/

#recipeContainer1 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 110px;
	left: 700px;
	display: block;
}

#recipeContainer2 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 123px;
	left: 700px;
	display: block;
}

#recipeContainer3 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 135px;
	left: 700px;
	display: block;
}

#recipeContainer4 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 148px;
	left: 700px;
	display: block;
}

#recipeContainer5 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 161px;
	left: 700px;
	display: block;
}

#recipeContainer6 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 174px;
	left: 700px;
	display: block;
}

#recipeContainer7 {
	width: 460px;
	height: 55px;
	position: relative;
	top: 185px;
	left: 700px;
	display: block;
}


#closeCraftingPannel {
	width: 58px;
    height: 58px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 26px;
    left: 1125px;
    background-color: transparent;
}

.backgroundRooms {
	height: 100vh;
	width: 100vw;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: absolute;
	top: 0px;
	left: 0px;
}

#backgroundStart {
	background-image: url(dungeonEntrance.jpg);
}

#backgroundRoom1 {
	background-image: url(dungeonHallway.jpg);
}

#backgroundRoom2 {
	background-image: url(dungeonPrison.jpg);
}

#backgroundRoom3 {
	background-image: url(dungeonCell.jpg);
}

#backgroundRoom4 {
	background-image: url(dungeonStairs.jpg);
}

#backgroundRoom5 {
	background-image: url(dungeonDwarfHallway.png);
}

#backgroundRoom6 {
	background-image: url(dungeonDwarfAltar.jpg);
}

#backgroundRoom7 {
	background-image: url(dungeonTunnel.jpg);
}

#backgroundRoom8 {
	background-image: url(dungeonTCleavage.jpg);
}

#backgroundRoom9 {
	background-image: url(dungeonCabin.jpg);
}

#backgroundRoom10 {
	background-image: url(dungeonLeftHall.jpg);
}

#backgroundRoom11 {
	background-image: url(dungeonRightHall.jpg);
}

#backgroundRoom12 {
	background-image: url(dungeonSewer.jpg);
}

#backgroundRoom13 {
	background-image: url(dungeonLowerBridge.jpg);
}

#backgroundRoom14 {
	background-image: url(dungeonUpperBridge.jpg);
}

#backgroundRoom15 {
	background-image: url(dungeonUpperBridgeStairs.jpg);
}

#backgroundRoom16 {
	background-image: url(galaxy.gif);
	background-position: -15px;
	transform: rotateX(180deg);
}

#backgroundGrassPlanet {
	background-image: url(grassBackground.jpg);
}

#backgroundLeafPlanet {
	background-image: url(leafBackground.jpg);
}

#backgroundShroomPlanet {
	background-image: url(shroomBackground.jpg);
}

#loadingScreen {
	position: absolute;
	background-image: url(loadingScreen.gif);
	background-repeat: no-repeat;
	background-size: contain;
	top: 50vh;
	left: 50vw;
	width: 30vw;
	height: 40vh;
	transform: translate(-50%, -50%);
}

#title {
	font-size: 80px;
	text-align: center;
	color: #ff0000;
    width: 700px;
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition: font-size 0.5s, color 0.5s;
}

@keyframes example {
    0%   {left:9.114583333333333vw; top:25vh; transform: rotateZ(00deg);}
    25%  {left:13.02083333333333vw; top:26.38888888888889vh; transform: rotateZ(10deg);}
    50%  {left:13.02083333333333vw; top:25vh; transform: rotateZ(00deg);}
    75%  {left:9.114583333333333vw; top:26.38888888888889vh; transform: rotateZ(-10deg);}
    100% {left:9.114583333333333vw; top:25vh; transform: rotateZ(00deg);}
}

#title:hover {
	font-size: 100px;
	color: white;
}

.roomButtons {
	position: absolute;
	width: 200px;
	height: 200px;
	padding-right: 10px;
	border-radius: 50%;
	border: none;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 35px;
	color: white;
}

#startGame {
	top: 46.2962962962963vh;
	left: 75vw;
	background-image: url(LastButton.jpg);
}

#craft {
	top: 70vh;
	left: 35vw;
	background-image: url(LastButton.jpg);
}

#UIbuttons {
	margin-top: 15vh;
}

#UIBag {
	width: 7vw;
	border: none;
	height: 7vw;
	display: block;
	background-image: url(UI9.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 1vw;
	transition: width 0.3s, height 0.3s, margin-bottom 0.3s;
}

#UIBag:hover {
	width:8vw;
	height:8vw;
	margin-bottom: 0vw;
}

#UIBook {
	width: 7vw;
	border: none;
	height: 7vw;
	display: block;
	background-image: url(UI7.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 1vw;
	transition: width 0.3s, height 0.3s, margin-bottom 0.3s;
}

#UIBook:hover {
	width:8vw;
	height:8vw;
	margin-bottom: 0vw;
}

#UIGear {
	width: 7vw;
	border: none;
	height: 7vw;
	display: block;
	background-image: url(UI6.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 1vw;
	transition: width 0.3s, height 0.3s, margin-bottom 0.3s;
}

#UIGear:hover {
	width:8vw;
	height:8vw;
	margin-bottom: 0vw;
}

#UIObjective {
	width: 7vw;
	border: none;
	height: 7vw;
	display: block;
	background-image: url(UI8.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 1vw;
	transition: width 0.3s, height 0.3s, margin-bottom 0.3s;
}

#UIObjective:hover {
	width:8vw;
	height:8vw;
	margin-bottom: 0vw;
}

#toolBar {
	position: absolute;
	width: 10vw;
	top: 5vh;
	height: 90vh;
	background-image: url(toolBar.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: -1px;
	visibility: hidden;
}

#buttonToRoom2 {
	top: 50vh;
	left: 20vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(90deg);
}

#returnToRoom1 {
	top: 70vh;
	left: 10vw;
	background-image: url(LastButton.jpg);
}

#buttonToRoom3 {
	top: 25vh;
	left: 68vw;
	background-image: url(LastButton.jpg);
}

#returnToRoom2a {
	top: 70vh;
	left: 10vw;
	background-image: url(LastButton.jpg);
}

#returnToRoom2b {
	top: 70vh;
	left: 10vw;
	background-image: url(LastButton.jpg);
}

#buttonToRoom4 {
	top: 40vh;
	left: 80vw;
	background-image: url(NextButton.jpg);
}

#returnToRoom3 {
	top: 72vh;
	left: 10vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(60deg);
}

#buttonToRoom5 {
	top: 60vh;
	left: 38vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(20deg);
}

#returnToRoom4 {
	top: 72vh;
	left: 50vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(47deg);
}

#buttonToRoom6 {
	top: 45vh;
	left: 32vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(10deg);
}

#returnToRoom5 {
	top: 70vh;
	left: 73vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(300deg);
}

#buttonToRoom7 {
	top: 35vh;
	left: 34vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(-10deg);
}

#returnToRoom7a {
	top: 70vh;
	left: 73vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(300deg);
}

#returnToRoom7b {
	top: 70vh;
	left: 73vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(300deg);
}

#buttonToRoom8 {
	top: 38vh;
	left: 33vw;
	background-image: url(LastButton.jpg);
}

#returnToRoom8a {
	top: 70vh;
	left: 13vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(320deg);
}

#returnToRoom8b {
	top: 70vh;
	left: 73vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(50deg);
}

#buttonToRoom9 {
	top: 46vh;
	left: 50vw;
	background-image: url(NextButton.jpg);
	transform: rotateZ(20deg);
}

#buttonToRoom10 {
	top: 38vh;
	left: 33vw;
	background-image: url(LastButton.jpg);
}

#buttonToRoom11 {
	top: 38vh;
	left: 70vw;
	background-image: url(NextButton.jpg);
}

#returnToRoom11 {
	top: 10vh;
	left: 70vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(60deg);
}

#buttonToRoom12 {
	top: 40vh;
	left: 50vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(330deg);
}

#returnToRoom12 {
	top: 70vh;
	left: 15vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(-20deg);
}

#buttonToRoom13 {
	top: 40vh;
	left: 69vw;
	background-image: url(LastButton.jpg);
}

#returnToRoom13 {
	top: 60vh;
	left: 70vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(-70deg);
}

#buttonToRoom14 {
	top: 10vh;
	left: 70vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(60deg);
}

#returnToRoom14 {
	top: 60vh;
	left: 70vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(-70deg);
}

#buttonToRoom15 {
	top: 70vh;
	left: 10vw;
	background-image: url(LastButton.jpg);
	transform: rotateZ(15deg);
}

#returnToRoom15 {
	top: 5vh;
	left: 5vw;
	background-image: url(LastButton.jpg);
}

#buttonInvestigate {
	top: 45vh;
	left: 42vw;
	background-image: url(NextButton.jpg);
}

#buttonPlanet1 {
	background-image: url(grassPlanet.png);
	top: 80vh;
	left: 43.75vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
#buttonPlanet2 {
	background-image: url(leafPlanet.png);
	top: 61.94vh;
	left: 35.68vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
#buttonPlanet3 {
	background-image: url(shroomPlanet.png);
	top: 40.19vh;
	left: 38.54vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
#buttonPlanet4 {
	background-image: url(oceanPlanet.png);
	top: 30vh;
	left: 50vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
#buttonPlanet5 {
	background-image: url(desertPlanet.png);
	top: 40.19vh;
	left: 61.46vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
#buttonPlanet6 {
	background-image: url(magmaPlanet.png);
	top: 61.94vh;
	left: 64.32vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
#buttonPlanet7 {
	background-image: url(steamPunkPlanet.png);
	top: 80vh;
	left: 56.25vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.nameRoom {
	text-align: center;
	font-size: 40px;
	color: red;
	position: absolute;
	top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    padding-top:6vh;
    padding-bottom:6vh;
}

#greenOrb {
	position: absolute;
	top: 70vh;
	left: 35vw;
	border: none;
	background-image: url(greenOrb.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 35px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	visibility: hidden;
	opacity: 0.5;
}

#greenFeathers {
	position: absolute;
	top: 55vh;
	left: 43vw;
	border: none;
	background-image: url(greenFeathers.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 35px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	visibility: hidden;
	opacity: 0.5;
	transform: rotate(45deg);
}

#blueOrb {
	position: absolute;
	top: 66vh;
	left: 45vw;
	border: none;
	background-image: url(blueOrb.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 35px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	visibility: hidden;
	opacity: 0.5;
}

#blueFeathers {
	position: absolute;
	top: 70vh;
	left: 35vw;
	border: none;
	background-image: url(blueFeathers.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 35px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	visibility: hidden;
	opacity: 0.5;
}